{% extends 'mainapp/base.html' %}

{% block content %}

<div class="main-block">
    <div class="welcometext">
        <h2>This site is made with django by H0oxy</h2>
    </div>
    <div class="kartinkacat">
        <img src="\static\css\img\pinkcat2.jpg" alt="pinkcat" class="pinkcat">
    </div>
</div>
{% endblock %}

{% block content2 %}
    <div class="catelog-menu">
        {% for item in categories %}
            <li>
                <a href="#"> {{ item }} </a>
            </li>
        {% endfor %}
    </div>
{% endblock %}

{#{% block content2 %}#}
{##}
{#    <div class="block-type">#}
{#        <img src="\static\css\img\stone.jpg" class="grass1">#}
{#    </div>#}
{##}
{#{% endblock %}#}