{% extends 'mainapp/base.html' %}

{% block content %}

<div class="main-block">
    <div class="welcometext">
        <h2>This site is made with django by H0oxy</h2>
    </div>
    <div class="kartinkacat">
        <a href="/admin/"> <img src="\static\css\img\pinkcat2.jpg" class="pinkcat"> </a>
    </div>
</div>
{% endblock %}

{% block content2 %}
    <div class="courses-menu">
        {% for item in courses %}
            <ul>
                <li>
                    <a href="{% url 'catalog' item.pk %}">
{#                    <a href="#"> {{ item }} </a>#}
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}

