{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="main-block">

        <div class="welcometext">
            <h1>Welcome to the club buddy!</h1>
        </div>

        <div class="kartinkagachi">
            <img src="\static\css\img\welcomegachi.jpg" alt="welcomegachi" class="welcomegachi">
        </div>

    </div>
{% endblock %}

{#{% block content2 %}#}
{##}
{#    <div class="block-type">#}
{#        <img src="\static\css\img\grass.jpg" class="grass1">#}
{#    </div>#}
{##}
{#{% endblock %}#}