{% extends 'basketapp/base.html' %}

{% block content %}

    <div class="main-block">
        <div class="welcometext">
            <h2 class="madetext">Thank you for watching</h2>
        </div>

        <div class="kartinkagachi">

            <p><a href="/secret/"><img src="\static\css\img\milosdance.gif" class="welcomegachi"></a></p>

        </div>
    </div>
    <div class="basket">
        <h2>Ваши заказы {{ user.username|capfirst }}</h2>
    </div>
    <ul>
        {% for item in object_list %}
            <li>
                {{ item.to_html|safe }}
                <a href="{% url 'basket:remove' item.pk %}">
                    удалить
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}